<div>
  <section>
    <p>{{ data.message || 'Are you sure?'}}</p>
  </section>
  <div class="buttons">
    <button class="shadow" (click)="onYesClick()"><img src="./assets/button-outline.svg" alt="" width="66.9" height="15"><p><u>Y</u>es</p></button>
    <button class="shadow" (click)="onNoClick()"><img src="./assets/button-outline.svg" alt="" width="66.9" height="15"><p><u>N</u>o</p></button>
    <!-- <button class="shadow"><img src="https://raw.githubusercontent.com/mbledkowski/win98popup/master/outline.svg" alt="" width="66.9" height="15"><p>Cancel</p></button> -->
  </div>
</div>

