<app-scene></app-scene>
<main>
  <h1>
    <ruby style="display: block; margin: 0px auto;">
      <rb>darves</rb>
    </ruby>

    </h1>
  <p id="bio">
    Experienced Frontend Engineer with a demonstrated history of working in the computer software industry; Skilled in frontend and backend development; last {{yearsOfExpirience}}+ years focused on the frontend.
  </p>
  <!-- <button (click)="onButtonClick()">Click</button> -->
  <ul>
      <li><a (click)="onLinkClick($event)" href="https://www.linkedin.com/in/darkoveselinovic/">linkedin</a></li>
      <li><a (click)="onLinkClick($event)"href="https://github.com/darves">github</a></li>
      <li><a href="javascript: ;" (click)="onMarioClick()">mario</a></li>
  </ul>
</main>
